@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.header_new_driver {
  background-color: black;
  height: 7vh;
  background: linear-gradient(88.52deg, #14162e 60.49%, #109887 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.driver_heading {
  width: 155px;
  height: 19px;
  display: flex;
  align-items: center;

  /* White */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.header_button_section {
  /* Modal Footer */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 16px;
  margin-top: 0.8rem;
  /* position: absolute; */
  /* width: 100vw; */
  height: 9vh;
  gap: 7px;
  top: 8.5vh;

  /* material-theme/ref/neutral/neutral95 */

  background: #f0f1ec;
  /* material-theme/ref/neutral/neutral90 */

  border-top: 1px solid #e2e3de;
}

.headerButton {
  font-size: 1rem;
  padding: 0.45rem 1.2rem;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  border-radius: 5px;
  font-family: "Roboto";
  letter-spacing: 0.1px;
  font-style: normal;
  cursor: pointer;
}

.cancelButton {
  color: #757873;
  border: 1px solid #a9aca7;
  background: #ffffff;
}

.sendButton {
  background: #109887;
  border: 1px solid #a9aca7;
  color: #ffffff;
}

main {
  position: relative;
  padding-left: 1rem;
  padding-right: 0.8rem;
  padding-top: 1rem;
}

.section1 {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.section0 {
  display: flex;
  flex-flow: row wrap;
  /* width: 1000rem; */
  margin-bottom: 1rem;
  align-items: center;
}

.section1_info {
  margin: 3px;
  padding: 10px;
  /* position: relative; */
  display: flex;

  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

main .section .driverImage {
  /* position: absolute; */
  cursor: pointer;
  width: 178.94px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  margin: 20px 20px 10px 04px;
}

.driverImage .driverIcon {
  width: 80%;
}

.driverImage .driverAddContent {
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin: 4px 30px;
}

main .section .personalDetailsInput {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  flex-grow: 1;
  width: 50%;
  justify-content: flex-start;
  gap: 16px;
}

.main .required::after {
  content: " *";
  color: #ff6767;
}

.main .label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #4d4d4f;
  text-transform: uppercase;
  line-height: 22px;
}

.input-field input {
  border: 1px solid #adadad;
  outline: none;
  padding: 0 15px;
  width: 16rem;
  height: 40px;
  /* margin: 8px 0; */
  color: #333;
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
}

.input-field .dropdown {
  cursor: pointer;
  border: 1px solid #adadad;
  outline: none;
  padding: 0 10px;
  width: 16rem;
  height: 40px;
  margin: 0px 0;
  color: #333;
  font-weight: 400;
  background-color: inherit;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdownCustom .dropdown-menu {
  border: 1px solid #adadad;
  outline: none;
  padding: 10 4px;
  width: 16rem;
  /* margin: 8px 0; */
  color: #333;
  font-weight: 400;
  font-size: 15px;
  border-radius: 5px;
  z-index: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 20rem;
}

.drText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4d4d4f;
}

.input-field input[type="date"] {
  cursor: pointer;
  text-transform: uppercase;
  color: #4d4d4f;
}

.input-field input[type="tel"] {
  color: #4d4d4f;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* or 146% */
}

input[type="radio"] {
  height: 24px;
  width: 29px;
  accent-color: #058f84;
}

.radioButton {
  display: flex;
  width: 17rem;
  height: 40px;
  /* margin: 8px 0; */
  color: #333;
  font-weight: 400;
  font-family: "Roboto";
  align-items: center;
  justify-content: space-between;
}

.radioButtonSpace {
  justify-content: flex-start;
  gap: 2rem;
}

.radioButton .radioButtonGroup {
  display: flex;
  font-size: 16px;
}

.section0Country {
  margin-right: 1.5rem;
}

.columnFlex {
  display: flex;
  flex-flow: row wrap;
}

.input-field .input-field-large {
  /* border: 1px solid #adadad; */
  outline: none;
  padding: 0 15px;
  width: 94vw;
  height: 40px;
  /* margin: 8px 0; */
  color: #333;
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
}

.columnFlex .subsection {
  margin-left: 15px;
  position: relative;
}

.remark {
  margin-top: 3px;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  text-align: right;
  right: 0;
  position: absolute;
  color: #3a3a3a;
}

.section {
  margin-top: 25px;
  margin-bottom: 10px;
}

.section2_info,
.section3_info,
.section4_info {
  display: flex;
  flex-flow: row wrap;
  margin-left: 3px;
  margin-bottom: 15px;
  gap: 16px;

  position: relative;
  margin-top: 0.7rem;
}

.input-field .input-field-medium {
  width: 34vw;
}

.section .clipPathLarge {
  min-width: 250px;
}

.identification_input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  white-space: no-wrap;
}

.uploadPic {
  display: flex;
  /* max-width: 55vw; */
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 2rem;
}

.section5_info {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-bottom: 15px;
  gap: 16px;
  margin-top: 0.7rem;
}

.section5_first,
.section5_third {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  /* justify-content: space-between; */
}

.section5_third .input-field .dropDownBig {
  width: 39rem;
}
.section5_third .input-field .dropdown-item {
  width: 39rem;
}
.section5_third .input-field .dropdown-menu {
  width: 39rem;
}

.imageDiv {
  cursor: pointer;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20rem;
  height: 10rem;
  background: #ffffff;
  border: 1px solid #adadad;
  border-radius: 10px;
}

.addImage {
  cursor: pointer;
  color: #d3d3d3;
}

.addImageTitle {
  position: relative;
  bottom: -20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #adadad;
}

/* .input-field-image {
  display: flex;
 
} */

.inputImageHidden {
  opacity: 0;
}

.dropDown_select {
  /* display: none; */
  width: 400px;
  height: auto;
}

.errorFields {
  border: 2px solid red !important;
}

.downloadButton_section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.downloadButton {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  align-items: center;
  background: #109887;
  border-radius: 10px;
  height: 3rem;
  width: 17rem;
  border: none;
}

.downloadButton .downloadText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 22px;
  color: #ffffff;
}

.downloadButton .downloadIcon {
  height: 14px;
  width: 24px;
  background: yellow;
  margin-left: 200px;
}

@media only screen and (max-width: 1311px) {
  .section5_third .input-field .dropDownBig {
    width: 38rem;
  }
}
@media only screen and (max-width: 1279px) {
  .section5_third .input-field .dropDownBig {
    width: 37rem;
  }
}
@media only screen and (max-width: 1239px) {
  .section5_third .input-field .dropDownBig {
    width: 36rem;
  }
}
@media only screen and (max-width: 1215px) {
  .section5_third .input-field .dropDownBig {
    width: 34rem;
  }
}
@media only screen and (max-width: 1152px) {
  .section5_third .input-field .dropDownBig {
    width: 32rem;
  }
}
@media only screen and (max-width: 1088px) {
  .section5_third .input-field .dropDownBig {
    width: 31rem;
  }
}
@media only screen and (max-width: 1056px) {
  .section5_third .input-field .dropDownBig {
    width: 30rem;
  }
}
@media only screen and (max-width: 1023px) {
  .section5_third .input-field .dropDownBig {
    width: 29rem;
  }
}
@media only screen and (max-width: 992px) {
  .section5_third .input-field .dropDownBig {
    width: 28rem;
  }
}
@media only screen and (max-width: 960px) {
  .section5_third .input-field .dropDownBig {
    width: 27rem;
  }
}
@media only screen and (max-width: 928px) {
  .section5_third .input-field .dropDownBig {
    width: 24rem;
  }
}
@media only screen and (max-width: 832px) {
  .section5_third .input-field .dropDownBig {
    width: 23rem;
  }
}
@media only screen and (max-width: 800px) {
  .section5_third .input-field .dropDownBig {
    width: 22rem;
  }
}
@media only screen and (max-width: 768px) {
  .section5_third .input-field .dropDownBig {
    width: 21rem;
  }
}
@media only screen and (max-width: 736px) {
  .section5_third .input-field .dropDownBig {
    width: 19rem;
  }
}
@media only screen and (max-width: 672px) {
  .section5_third .input-field .dropDownBig {
    width: 17rem;
  }
}
@media only screen and (max-width: 637px) {
  .section5_third .input-field .dropDownBig {
    width: 17rem;
  }
}
@media only screen and (max-width: 546px) {
  .identification_input {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
  }
}
