@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  /* margin-bottom: 12rem; */
}

.navbar {
  height: 3.4rem;
  position: relative;
  background-color: #14162e;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 0px 0px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .hamburger {
  left: 2rem;
  position: relative;
  width: 1.7rem;
  height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .menu_icon {
  position: absolute;
  background-color: #ffffff;
  width: 1.7rem;
  height: 0.1rem;
}

.navbar .menu_icon::after,
.menu_icon::before {
  position: absolute;
  left: 2rem;
  background-color: #ffffff;
  width: 1.7rem;
  height: 0.1rem;
}

.navbar .menu_icon::before {
  content: "";
  transform: translate(-32px, -8px);
}
.navbar .menu_icon::after {
  content: "";
  transform: translate(-32px, +8px);
}

.navbar .notification {
  position: absolute;
  height: 2.2rem;
  background: #ffffff;
  /* Separate Bottom - Shadow */
  /* width: 250px; */
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 100px;

  /* left: 86.88%; */
  right: 100px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 8px;
  gap: 8px;
}

.navbar .notification .notificationBadge {
  box-sizing: border-box;
  background: #e06363;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

main .cards {
  /* background-color: rgb(13, 5, 33); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  height: 55vh;
}
main .cards .cardSection1,
.cardSection2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.cardSection2 {
  width: 29rem;
  min-height: 14rem;
  /* background-color: wheat; */
}
.cardSection2 .cardMedium {
  box-sizing: border-box;
  background: #ffffff;
  border: 0.25px solid #aaabaa;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 16px 14px 7px 14px;
  gap: 10px;
  /* position: absolute; */
  width: 14rem;
  height: 6.7rem;
}

main .cardSection1 .cardLarge {
  position: relative;
  background: #ffffff;
  border: 0.25px solid #aaabaa;
  border-radius: 10px;
  width: 28rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  min-height: 14rem;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding: 1.2rem;
  /* flex-direction: column; */
}

.cardSection2 .cardMedium .cardMedium_bottom {
  display: flex;
  /* align-self: flex-end; */
  justify-content: space-between;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #1a1c1a;
}
.cardSection2 .cardMedium .cardMedium_top {
  font-family: "Montserrat";
  font-weight: 900;

  font-size: 1rem;
  line-height: 14px;
  /* identical to box height, or 88% */

  letter-spacing: -0.01em;

  color: #403f3d;
}

main .cardSection1 .cardLarge .cardLarge_bottom {
  position: absolute;
  width: 25.2rem;
  height: 1.8rem;
  bottom: 1.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
main .cardSection1 .cardLarge .cardLarge_top {
  position: absolute;
  width: 15rem;
  height: 1.8rem;
  top: 1.9rem;
  /* background-color: yellow; */
  font-family: "Montserrat";
  font-weight: 900;

  font-size: 1.5rem;
  line-height: 14px;
  /* identical to box height, or 88% */

  letter-spacing: -0.01em;

  color: #403f3d;
}

.cardSection1 .cardLarge .cardLarge_top_rigt {
  /* background-color: green; */
  position: absolute;
  right: 3rem;
  width: 5rem;
  height: 4rem;
  top: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 0.75rem;
  line-height: 34px;
  /* or 340% */

  text-align: right;
  letter-spacing: -0.01em;
  display: flex;
  justify-content: flex-end;
  color: #1c1d1f;
}

.cardSection1 .cardLarge .cardLarge_top_rigt img {
  position: absolute;
  width: 1rem;
  height: 0.9rem;
  top: 0.54rem;
  right: -1rem;
}

.cardLarge .cardLarge_bottom div {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #1a1c1a;
}

.cards .cardSection3 {
  /* background-color: orange; */
  width: 18rem;
  height: 14.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.cards .cardSection3 .addButton {
  background: #109887;
  border-radius: 10px;
  width: 17rem;
  height: 3rem;
  color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  border: #0e8275;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20%;
}

.cards .cardSection3 .addButton span {
  font-size: 2rem;
  font-weight: 100;
}

.cards .cardSection3 .section3Card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* background-color: yellow; */
  width: 100%;
  height: 70%;
  padding: 1rem;
  border: 0.25px solid #aaabaa;
  border-radius: 5px;
  background: #ffffff;
}

.cardSection3 .section3Card .cardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section3Card .cardTop .heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
}

.cards .driverIcon {
  color: #109887;
  font-size: 1.8rem;
}

.section3Card .cardBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: yellow; */
  height: 45%;
}
.section3Card .cardBottom .number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  align-self: flex-end;
  color: #1a1c1a;
}
.section3Card .cardBottom .stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section3Card .cardBottom .stats .subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #403f3d;
}

.section3Card .cardBottom .stats .percentageChange {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #403f3d;
  display: flex;
  justify-content: space-between;
}

main .dropdown_section {
  display: flex;
  flex-flow: row wrap;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  justify-content: flex-end;
  align-items: center;
  gap: 8rem;
}
main .dropdown {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1rem;
  gap: 0.5em;
  justify-content: flex-end;
}
main .dropdown_section .dropdown_individual {
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  width: 16rem;
  height: 2.5rem;
  /* background-color: pink; */
  position: relative;
  box-sizing: border-box;
  /* background: #ffffff; */
  /* Light Grey */

  border: 1px solid #cccccc;
  border-radius: 5px;
}
main .dropdown_section .dropdown_icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  /* background-color: rgb(122, 6, 25); */
}

.dropdown_individual .dropdown_label {
  height: 1rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.67rem;
  line-height: 18px;
  color: #adadad;
  position: absolute;
  left: 21.43%;
  /* right: 61.2%; */
  top: 7.5%;
  bottom: 47.5%;
}
.dropdown_individual .dropdown_label1 {
  height: 1rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.67rem;
  line-height: 18px;
  color: #adadad;
  position: absolute;
  left: 14.43%;
  /* right: 61.2%; */
  top: 7.5%;
  bottom: 47.5%;
}

.dropdown_individual .dropdownCustom {
  position: absolute;
  top: 0.85rem;
  left: 21.43%;
  /* display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  align-self: flex-end; */
  height: 1.36rem;
  width: 10rem;
}
.dropdown_individual .dropdownCustom1 {
  position: absolute;
  top: 0.85rem;
  left: 14.43%;
  /* display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  align-self: flex-end; */
  height: 1.36rem;
  width: 12rem;
}

.dropdown_individual .drText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  color: #4d4d4f;
  /* height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.dropdown_individual .drText1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  width: 8rem;
  line-height: 20px;
  color: #4d4d4f;
  /* background-color: BLUE; */
}

.dropdownCustom .dropdown-item {
  width: 16rem;
}
.dropdown_individual .arrow {
  width: 1rem;
  font-size: 1rem;
  height: 1rem;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  font-weight: 400;
  color: grey;
}

.addMultipleDrivers {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background: #109887;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.notification .bellIcon {
  font-size: 1.4rem;
}

.addButton .rightArrow {
  font-size: 2rem;
}

@media only screen and (min-width: 797px) and (max-width: 957px) {
  main {
    margin-bottom: 17rem;
  }

  .cards .cardSection3 {
    width: 47rem;
    height: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .cards .cardSection3 .addButton {
    width: 17rem;
  }
  .cards .cardSection3 .section3Card {
    width: 40rem;
  }
  .cards .cardSection3 {
    width: 30rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 493px) {
}
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
@media only screen and (max-width: 768px) {
  main {
    margin-bottom: 29rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cards .cardSection3 {
    width: 17rem;
  }
  .cards .cardSection3 .addButton {
    width: 14rem;
    padding: 0 10%;
  }
  .cardSection2 {
    width: 29rem;
    min-height: 14rem;
    /* background-color: wheat; */
  }
  main .cardSection1 .cardLarge {
    border-radius: 10px;
    width: 25rem;
  }
  main .cardSection1 .cardLarge .cardLarge_bottom {
    width: 22.2rem;
  }
  main {
    margin-bottom: 29rem;
  }
}

@media only screen and (min-width: 781px) {
  main {
    margin-bottom: 15rem;
  }
}
@media only screen and (min-width: 797px) {
  .cards .cardSection3 {
    width: 37rem;
  }
  main {
    margin-bottom: 29rem;
  }
}
@media only screen and (min-width: 909px) {
  .cards .cardSection3 {
    flex-flow: row nowrap;
    width: 30rem;
  }
  main {
    margin-bottom: 12rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .navbar .notification {
    right: 2rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .cards .cardSection3 {
    flex-flow: column wrap;
    width: 17rem;
  }
  main {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 741px) {
  main .dropdown_section {
    gap: 1rem;
  }
}
@media only screen and (max-width: 451px) {
  main .cardSection1 .cardLarge {
    width: 25rem;
  }
  main .cardSection1 .cardLarge .cardLarge_bottom {
    width: 23rem;
  }
}
